.buying-container{
    .banner{
        width: 100%;
        height: 150px;
        background-color: #888;
        h1{
            color: white;
            padding: 20px 35px;
        }
        .detail{
            color: white;
            padding: 0 35px;
        }
    }
    .buying-content{
        height: auto;
        padding: 4%;

        .content-left{
            .item{
                max-width: 100%;
                padding: 0;
                .image{
                    border: 1px solid black;
                    height: 100%;
                    .child-image{
                        // background-image: url('../../../assets//13-dien-chan-bui-quoc-chau-dung-cu-qua-tang.jpg');
                        max-width: 100%;
                        height: 400px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        object-fit: cover;
                        display: block;
                    }
                }
                .text{
                    border: 1px solid black;
                    height: 100%;
                    padding: 0;
                        h1{
                            font-size: 22px;
                            font-weight: 600;
                        }
                       .price{
                            .before-sale{
                                color: #999;
                                font-size: 15px;
                                text-decoration: line-through;
                            }
                            .before-sale-none{
                                display: none;
                            }
                            .after-sale{
                                color: rgb(170, 8, 8);
                                font-size: 20px;
                                font-weight: 600;
                                margin-left: 2px;
                            }
                       }
                       .buying{
                            display: flex;
                            margin-top: 20px;
                            .btn-buying{
                                background-color: #06863b;
                                border: none;
                                outline: none;
                                color: white;
                                padding: 0 10px;
                                margin-left: 5px;
                                    &:hover{
                                        background-color: rgb(170, 8, 8);
                                    }
                            }
                       }
                       .socal-media{
                            margin-top: 20px;
                            i{
                                font-size: 30px;
                                color: rgb(0, 34, 255);
                                padding: 5px;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.6;
                                }
                            }
                       }
                }
            } 
            .detail{
                max-width: 100%;
            }
        }

        .content-right{
            border: 1px solid black;
            height: 100%;
            padding: 0;
            .content-right-child{
                margin-bottom: 25px;
                
                h2{
                background-color: #06863b;
                padding: 10px 28px;
                color: white;
                font-size: 16px;
                font-weight: 500;
                margin: 0;          
                }
                ol{
                    padding: 0;
                    margin: 0;
                    background-color: #e3f7eb;
                    list-style: none;
                    li{           
                        padding: 10px 28px;
                        color: black;
                        font-size: 13px;
                        font-weight: 500;
                        border-bottom: 1px dotted #7dc79c;
                        cursor: pointer;
                            &:hover{
                                color: rgb(170, 8, 8);
                                font-weight: 600;
                            }
                    }
                }
            }
        
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 25px;
                h2{
                    background-color: #06863b;
                    padding: 10px 28px;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                }
                .content{
                    display: flex;
                    border-bottom: 1px dotted #ccc;
                    padding: 3%;
                    box-shadow: none;
                    .image{
                        background-image: url('../../../assets//13-dien-chan-bui-quoc-chau-dung-cu-qua-tang.jpg');
                        width: 150px;
                        height: 110px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        object-fit: cover;
                        display: block;
                    }
                    .text{
                        font-size: 15px;
                        font-weight: 600;
                        padding-left: 5px;
                    }
                }
            }
        }
        .detail{
            border: 1px solid black;
            height: auto;
            padding: 0;
            .detial-comment{
                padding: 0;
                .detial-title{
                    display: flex;
                    background-color: #06863b;
                    color: white;
                    margin: 0;
                    align-items: center;
                    h2{
                        font-size: 16px;
                        font-weight: 500;
                        padding: 12px;
                        border: 1px solid red;
                        cursor: pointer;
                        margin: 0;
                        &:hover{
                            background-color: rgb(170, 8, 8);
                        }
                    }
                }
                .detial-content{
                    padding: 15px  0 ;
                }
            }
        }
        .new-item{
            border: 1px solid black;
            height: auto;
        }
    }
}


.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        margin : 0 100px;

        .content-left {
            width              : 20%;
            // background   : center center no-repeat;
            background-size    : cover;
            background-repeat  : no-repeat;
            background-position: center;
            width              : 120px;
            height             : 120px;
            border-radius      : 50%;
            margin             : 10px 20px;
        }

        .content-right {
            width         : 80%;
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                padding-top: 15px;
                font-size  : 20px;
                font-weight: 600;
            }

            .down {
                padding-top: 10px;

                .like-share-plugin {
                    margin: 10px 0 20px 0;
                }
            }
        }
    }

    .schedule-doctor {
        margin    : 0 100px;
        display   : flex;
        padding   : 10px 0;
        min-height: 200px;


        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-infor-doctor {
        border-top      : 1px solid #ddd;
        border-bottom   : 1px solid #ddd;
        background-color: #f9f9f9;
        padding         : 10px 100px;

        h1,
        h2,
        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .comment-doctor {
        padding: 10px 100px;
    }
}