.home-top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 90px;
    background-color: #b80000;
        .hotline-email{
            width: 40%;
            display: flex;
            justify-content: left;
            align-items: center;
            .fa-solid{
                background-color: #fff;
                border-radius: 50px;
                color: #000;
                font-size: 1rem;
                width: 25px;
                height: 25px;
                margin-right: 15px;
                line-height: 25px;
                text-align: center;
                vertical-align: bottom;
            }
            .subs-title{
                color: white;
                font-size: 1.5rem;
                font-weight: 600;
                margin-left: 50px;
            }
        }
        .shopping{
            color: white;
        }
    }
   
.home-middler-header-container{
    height: 150px;
    margin: 10px;
    align-items: center;
    .logo{
        background-image   : url('../../assets/logo.png');
        background-repeat  : no-repeat;
        background-position: center;
        height: 100%;
        max-width: 100%;
        border: 1px solid black;
    }
    .title{
        max-width: 100%;
        height: 100%;
        height: auto;
        border: 1px solid black;
    }
    .logo-1{
        background-image   : url('../../assets/logo-dien-chan.jpg');
        background-repeat  : no-repeat;
        height: 100%;
        max-width: 100%;
        border: 1px solid black;
        align-items: center;
    }     
}    

.home-header-container {
    height          : 50px;
    width           : 100%;
    padding         : 0 90px;
    position        : sticky;
    top             : 0;
    background-color: #06863b;
    z-index         : 10000;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;
    }

    .center-content {
        width          : 80%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .child-content {
            .subs-title {
                font-weight: 500;
                font-size  : 16px;
                color: white;
            }
        }
    }

    .right-content {
        margin-left: 50px;
        display        : flex;
        justify-content: flex-end;
        align-items    : center;

        .search {
            display      : flex;
            align-items  : center;  
            cursor       : pointer;

            i {
                font-size   : 15px;
                margin-right: 5px;
                color: white;
            }

            input{
                width: 120px;
                outline: none;
                padding-left: 5px;
            }
        }

        .language-vi {
            cursor : pointer;
            opacity: 0.2;

            &.active {
                opacity: 1;

                span {
                    color: orange;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .language-en {
            margin : 0 10px;
            cursor : pointer;
            opacity: 0.2;

            &.active {
                opacity: 1;

                span {
                    color: blue;
                }
            }


            &:hover {
                opacity: 0.8;
            }
        }

    }
}


.home-header-banner {
    background-image   : url('../../assets/header-background.jpg');
    height             : 485px;
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    display            : flex;
    flex-direction     : column;

    .content-up {
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));
        padding-top     : 15px;
        height          : 65%;

        .title1 {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 5px;
            color        : white;
            margin-top   : 30px;
        }

        .title2 {
            text-align   : center;
            font-size    : 30px;
            text-shadow  : 1px 1px 1px #333;
            color        : white;
            margin-bottom: 15px;
        }

        .search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            border-radius  : 25px;
            background     : #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 360px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }

    }

    .content-down {
        height          : 35%;
        padding-bottom  : 10px;
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {
            text-align     : center;
            display        : flex;
            gap            : 50px;
            justify-content: center;

            .option-child {
                width: 100px;

                .icon-child {
                    background   : white;
                    width        : 40px;
                    height       : 40px;
                    padding      : 10px;
                    border-radius: 50%;
                    text-align   : center;
                    margin       : 0 auto;

                    i {
                        color    : #49bce2;
                        font-size: 20px;
                    }
                }

                .text-child {
                    font-size  : 17px;
                    font-weight: 500;
                    cursor     : pointer;

                    &:hover {
                        color: #49bce2;
                    }

                }
            }
        }
    }


}