  //reset slick slider css
  .slick-prev {
      left      : -10px !important;
      z-index   : 1000 !important;
      height    : 48px !important;
      width     : 44px !important;
      background: #fff !important;
      border    : 2px solid #d7d7d7 !important;

      &:hover {
          background: #eceaea !important;
      }

  }

  .slick-prev:before,
  .slick-next:before {
      font-family: FontAwesome !important;
      color      : red !important;
      // content: "\f060" !important;
  }

  .slick-next {
      right     : -10px !important;
      z-index   : 1000 !important;
      height    : 48px !important;
      width     : 44px !important;
      background: #fff !important;
      border    : 2px solid #d7d7d7 !important;

      &:hover {
          background: #eceaea !important;
      }
  }

  .slick-disabled {
      display: none !important;
  }

  .section-share {
      &.section-specialty {
          background: #f5f5f5;
      }

      &.section-outstanding-doctor {
          background: #f5f5f5;
      }

      &.section-about {
          height       : 500px !important;
          border-top   : 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;
      }

      .section-body {
          .section-customize {
              .bg-image {
                  height             : 150px;
                  background-position: center center;
                  background-repeat  : no-repeat;
                  background-size    : cover;
                  background-color   : #eee;

                  &.section-specialty {
                      //   background-image: url('../../assets/specialty/co-xuong-khop.jpg');
                  }

                  &.section-medical-facility {
                      //   background-image: url('../../assets/medical-facility/benh-vien-thu-cuc.jpg');
                  }

                  &.section-outstading-doctor {
                      //   background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                      width        : 220px;
                      height       : 220px;
                  }

                  &.section-handbook {
                      background-image: url('../../assets/handbook/handbook.jpg');

                  }

              }
          }
      }
  }

  .section-share {
      .section-container {
          margin        : 0 20px;
          display       : flex;
          flex-direction: column;

          .section-header {
              height       : 60px;
              margin: 30px 0;
              padding: 0 20px;
              background-color: green;
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: white;


              .title-section {
                  font-size  : 18px;
                  font-weight: 600;
              }

              .btn-section {
                  float         : right;
                  padding       : 8px 15px;
                  border        : none;
                  outline       : none;
                  display       : block;
                  background    : #ebebeb;
                  color         : black;
                  cursor        : pointer;
                  text-transform: uppercase;
                  font-size  : 13px;

                  &:hover {
                      color     : #fff;
                      background: #f7d800;
                  }
              }
          }


      }
  }

  .section-outstanding-doctor {
      .outer-bg {
          display        : flex;
          justify-content: center;
          margin-bottom  : 10px;
      }

      .section-customize {
          padding: 5px;
          cursor : pointer;

          .customize-border {
              border : 1px solid orange;
              padding: 20px;
          }

          .item-name-price{
            .name{
                font-size: 18px;
                font-weight: 500;
            }
            .priceBeforeSale{
                font-size: 16px;
                font-weight: 500;
                color: #a5a5a5;
                text-decoration: line-through;
            }
            .priceBeforeSaleNone{
                display: none;
            }
            .priceAfterSale{
                font-size: 16px;
                font-weight: 600;
                color: red;
            }
          }
      }
  }

  .home-footer {
      text-align : center;
      height: 200px;
      width: 100%;
      background-color: green;
      display: flex;
      justify-content: space-between;
        .content-left {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .footer-content{
                color: white;
                padding: 0 20px;    
                    h1{
                        font-size: 16px;
                        font-weight: 600;
                    }
                    a{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 2rem;
                    }
            }
        }
        .content-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 200px;
            .footer-content{
                color: white;
                font-size: 14px;
                font-weight: 500;
            }

            .footer-image{
                    width: 150px;
                    height: 80px;
                    img{
                        width: 100%;
                        height: auto;
                    }
            }
           
        }
  }

  .section-about {
      padding: 0 100px;

      .section-about-content {
          display: flex;
          gap    : 15px;
          width  : 100%;

          .content-left {
              width: 60%;
          }

          .content-right {
              width: 40%;

              p {
                  text-align: justify;
                  font-style: italic;
                  padding   : 15px;
              }
          }
      }
  }